@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

/*
font-family: 'Montserrat',
sans-serif;
font-family: 'Roboto',
sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  transition: all 0.4s ease-in;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2 {
  font-size: 42px;
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.item {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.brown_button {
  background: #9a8464;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 22px 40px;
  min-width: 300px;
  text-align: center;
}

.brown_button:hover {
  background: #776244;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2f2e2f;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 999;
}

header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

header a {
  color: #fff;
}

header a:not(.logo):hover {
  opacity: 0.6;
}

header .logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  height: 160px;
  transition: all 0.6s ease-in;
}

header ul {
  list-style: none;
  display: flex;
  padding-left: 260px;
}

header ul a {
  padding-left: 15px;
  padding-right: 15px;
}

header .transparent_button {
  padding: 12px 50px;
  font-size: 14px;
  letter-spacing: 0.02em;
  border: 1px solid #fff;
}

.banner {
  background-image: url('home-img/header-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 146px;
}

.banner .container,
.single-banner .container {
  display: flex;
  align-items: center;
}

.banner .left,
.single-banner .left {
  width: 50%;
  color: #191719;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner .right,
.single-banner .right {
  width: 50%;
  padding-left: 80px;
}

.banner h1 {
  margin-bottom: 18px;
}

.banner p {
  font-size: 22px;
  margin-bottom: 28px;
}

.about_us {
  padding-bottom: 130px;
  display: flex;
  align-items: flex-end;
}

.about_us .left {
  width: 50%;
  padding-right: 80px;
  position: relative;
}

.about_us .left::before {
  content: '';
  width: 50vw;
  z-index: -1;
  height: 50%;
  background: #2f2e2f;
  position: absolute;
  bottom: 0;
  right: 100%;
  transform: translateX(200px);
}

.about_us .right {
  width: 50%;
  padding-left: 80px;
}

.about_us h2 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.about_us p {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 16px;
}

.about_us .transparent_button {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  padding: 20px 40px;
  color: #191719;
  border: 1px solid #000;
  font-weight: 600;
  margin-top: 30px;
}

/* Slider */

.book-slider {
  background-color: #2f2e2f;
  padding-top: 100px;
  padding-bottom: 130px;
  margin-top: 130px;
}

.book-slider h2 {
  color: #fff;
  margin-bottom: 60px;
  text-align: center;
  font-size: 42px;
}

.slider {
  margin-bottom: 60px;
}

.slide {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
}

.my-dots {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.my-dots button {
  background: none;
  border-color: #fff;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin: 5px;
  outline: none;
  font-size: 0 !important;
}

.my-dots li {
  list-style-type: none;
}

.my-dots li[class='slick-active'] button {
  background: red;
  border-color: #fff;
}

.arrow-left,
.arrow-right img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.arrow-left {
  position: absolute;
  top: 0px;
  left: 0;
}

.arrow-right {
  position: absolute;
  top: 0px;
  right: 0;
}

.slide img {
  margin-bottom: 30px;
  object-fit: contain;
}

.slide p {
  font-size: 14px;
  color: #c4c4c4;
  margin-bottom: 10px;
}

.slide h3 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff;
}

.slide span {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.book-slide-btn {
  display: flex;
  justify-content: center;
}

/* Testimonials */
.testimonials {
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials h2 {
  margin-bottom: 105px;
}

.testimonials .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.testimonials .item {
  width: calc(33.333333% - 20px);
  background: #2f2e2f;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
  color: #fff;
  padding: 69px 40px 62px;
  position: relative;
  transition: all.6s ease-in-out;
  cursor: pointer;
}

.testimonials .face {
  position: absolute;
  width: 90px;
  height: 90px;
  background: #c4c4c4;
  border-radius: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.testimonials .date {
  font-size: 12px;
  line-height: 1.3;
  color: #c4c4c4;
  margin-bottom: 3px;
}

.testimonials h3 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 4px;
}

.testimonials .social {
  display: flex;
  font-size: 14px;
  margin-bottom: 14px;
}

.testimonials .social a {
  padding-left: 10px;
}

.testimonials .social a path {
  transition: all 0.4s;
}

.testimonials .social a:hover path {
  fill: #fff;
}

.testimonials .text {
  font-size: 14px;
  line-height: 1.3;
}

.news {
  background-color: #2f2e2f;
  padding-top: 130px;
  padding-bottom: 130px;
  margin-bottom: 130px;
}

.news h2 {
  text-align: center;
  margin-bottom: 60px;
  color: #fff;
}

.news .items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news .item {
  width: calc(25% - 27px);
  max-width: 350px;
  background-color: #fff;
  position: relative;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.news .item a {
  position: absolute;
  left: 30px;
  font-size: 14px;
  background: #9a8464;
  padding: 4px 10px;
  color: #fff;
  top: 30px;
}

.news .item > img {
  margin-bottom: 30px;
  position: relative;
}

.news .item::before {
  content: '';
  position: absolute;
  left: 50%;
  z-index: 9999;
  top: 80px;
  width: 0;
  height: 0;
  transform: translateX(-20px);
  border-style: solid;
  border-width: 27px 0 27px 47px;
  border-color: transparent;
  border-left-color: #fff;
  opacity: 0;
  transition: all.6s ease-in-out;
}

.news .item:hover::before {
  opacity: 1;
}

.news .item p {
  padding-left: 30px;
  padding-right: 26px;
  margin-bottom: 30px;
}

.news .name {
  padding-left: 30px;
  padding-right: 26px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.news .name img {
  max-width: 60px;
}

.news .item h3 {
  font-size: 15px;
  line-height: 22px;
  padding-left: 10px;
}

.news strong {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 26px;
  display: block;
}

/* Order_book */

.book_order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 123px;
}

.book_order .content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.book_order .item {
  width: calc(33.333333% - 20px);
  background: #2f2e2f;
  padding: 50px 0 0px 30px;
  overflow: hidden;
  transition: all.6s ease-in-out;
  cursor: pointer;
  max-height: 400px;
}

.book_order h2 {
  margin-bottom: 131px;
}

.book_order .item h3 {
  color: #fff;
  font-size: 22px;
  margin-bottom: 21px;
}

.book_order .item p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 50px;
}

.book_order span {
  font-size: 160px;
  font-weight: 600;
  color: #000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  z-index: -1;
  transform: translateY(-100px);
  transition: all.6s ease-in-out;
}

.book_order .item img {
  object-fit: contain;
}

.item.animate {
  transform: scale(1.1);
  transition: all 0.6s;
}

/* .order_item:hover span {
  opacity: 1;
  color: #000;
  font-size: 90px;
} */

/* 
Books page Styles */

.books-banner {
  background-image: url('books-img/books-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 146px;
  margin-bottom: 37px;
}

.books-banner .container {
  display: flex;
  align-items: center;
}

.books-banner h1 {
  margin-bottom: 18px;
}

.books-banner p {
  font-size: 22px;
  margin-bottom: 28px;
}

.books-banner .left {
  width: 50%;
  color: #191719;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.books-banner .right {
  width: 50%;
  padding-left: 80px;
}

/* Books catalog */
.books-list h2 {
  margin-bottom: 60px;
}

.books-list-tabs {
  display: flex;
  margin-bottom: 60px;
  text-align: center;
}

.books-list-tabs a {
  width: 233px;
  font-weight: 600;
  padding: 22px 40px;
  font-size: 18px;
  color: #191719;
  border: 1px solid #191719;
}

.books-list-tabs a :active {
  background: #9a8464;
  color: #fff;
}

.books-list-tabs a:hover {
  background: #9a8464;
  color: #fff;
}

.books-list-catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 22px;
  margin-bottom: 60px;
}

.books-list-catalog .book-item {
  font-family: 'Roboto', sans-serif;
  transition: all 0.4s ease-in;
  cursor: pointer;
}

.book-item img {
  margin-bottom: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.book-item p {
  font-size: 14px;
  color: #c4c4c4;
  margin-bottom: 10px;
}

.book-item h3 {
  font-size: 16px;
  margin-bottom: 20px;
}

.book-item span {
  font-weight: 700;
  font-size: 30px;
}

.books-catalog-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 174px;
}

/* Contacts */

.contacts {
  background-image: url('books-img/contact-bg.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
  padding-top: 42px;
  padding-bottom: 131px;
}

.contacts h2 {
  margin-bottom: 52px;
  text-align: center;
}

.contacts .container {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  min-height: 547px;
  padding-left: 55px;
  position: relative;
}

/*   
  .contacts .container::after {
    content: "";
    display: block;
    width: calc(100% - 40px);
    background:#000;
    height:50px;
    border-radius:4px;
    position:absolute;
    left:50%;
    bottom:0;
    z-index:1;
    transform:translate(-50%,6px);}
  */

.contacts-map {
  width: 80%;
}

.contacts-map img {
  object-fit: cover;
}

.contacts-details {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.contact-socials path {
  transition: 0.6s all ease-in-out;
}

.contact-socials path:hover {
  fill: #000;
}

.contacts-details h4 {
  font-size: 18px;
  margin-bottom: 14px;
}

.contacts-details a {
  margin-bottom: 30px;
  font-size: 22px;
  color: #191719;
}

/* Footer */

footer {
  width: 100%;
  background: #2f2e2f;
  padding-top: 30px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer a:not(.transparent_button) {
  display: block;
  color: #fff;
  opacity: 0.6;
  margin-bottom: 30px;
}

footer a:not(.transparent_button):hover {
  opacity: 1;
}

footer .footer-socials a {
  margin: 0;
  display: inline-block;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav li {
  width: 50%;
}

footer .logo {
  width: 170px;
  height: 160px;
  position: relative;
  top: -25px;
}

footer .transparent_button {
  padding: 12px 50px;
  font-size: 14px;
  letter-spacing: 0.02em;
  border: 1px solid #fff;
  color: #fff;
}

footer .transparent_button:hover {
  opacity: 0.6;
}

.logo.change {
  width: 60px;
  height: 60px;
}

/* 
Single-book page */

.single-banner {
  background-image: url('single-book/single-book.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 146px;
  margin-bottom: 130px;
}

.single-content {
  margin-bottom: 130px;
}

.single-content p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-top: 30px;
}

.buy-book {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.buy-book .left {
  width: 50%;
  position: relative;
  padding-left: 150px;
  padding-right: 80px;
}

.buy-book .left img {
  min-width: 150px;
}

.buy-book .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buy-book .right h2 {
  margin-bottom: 30px;
}

.single_book__btn {
  min-width: 200px;
}
.buy-book .left::before {
  content: '';
  width: 50vw;
  z-index: -1;
  height: 50%;
  background: #2f2e2f;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(200px, -50%);
}
